{% load i18n %}
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="about-card" class="card">
                    <div class="card-content">
                        <p>{{ welcome }}</p>
                    </div>
                    <div id="about-btn" class="card-action">
                        <div class="about-btn">
                            <a href="cv/resume.pdf" target="_blank" class="btn waves-effect">{% trans 'get my resume' %}</a>
                            <a href="#contact" class="btn waves-effect">{% trans 'Contact' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>