{% load i18n %}
<section id="experience" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-suitcase"></i>{% trans 'Experience' %}</h4>
        </div>
        <div id="timeline-experience">
            {% for experience in experiences %}
                <div class="timeline-block">
                    <div class="timeline-dot">
                        <h6>{{ experience.symbol }}</h6>
                    </div>
                    <div class="card timeline-content">
                        <h6 class="timeline-title">{{ experience.title.name }}</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>{{ experience.company.name }}</small>
                            </h6>
                            <h6>
                                <small>{{ experience.start_date }} - {% firstof experience.end_date _("Now") %}</small>
                            </h6>
                        </div>
                        <p>{{ experience.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>