<section id="interest" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-heart"></i>Zainteresowania</h4>
        </div>
        <div id="interest-card" class="card">
            <div class="card-content">
                <p>
                    Motoryzacja jest dla mnie ważnym elementem życia. O sportach motorowych mogę rozmawiać całymi dniami,
                    idealny weekend? Weekend wyścigowy. Poza tym lubię wycieczki górskie, które pozwalają mi się odciąć
                    od codzienności raz na jakiś czas.
                </p>
            </div>
            <div class="row no-gutters">
                <div class="col-md-2 col-sm-4 col-xs-6  box text-center">
                    <div class="interest-icon">
                        <i class="fa fa-music"></i>
                        <span>Muzyka</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even">
                        <i class="fa fa-gamepad"></i>
                        <span>Gry</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon">
                        <i class="fa fa-car"></i>
                        <span>Motoryzacja</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even">
                        <i class="fa fa-futbol-o"></i>
                        <span>Piłka nożna</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon">
                        <i class="fa fa-sun-o"></i>
                        <span>Wycieczki górskie</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even">
                        <i class="fa fa-film"></i>
                        <span>Kino</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>