{% load i18n %}
<section id="interest" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-heart"></i>{% trans 'Interests' %}</h4>
        </div>
        <div id="interest-card" class="card">
            <div class="card-content">
                <p>
                    {{ description }}
                </p>
            </div>
            {% for interset in interests %}
            <div class="row no-gutters">
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon">
                        <i class="fa {{ interest.icon }}"></i>
                        <span>{{ interset.name }}</span>
                    </div>
                </div>
            </div>
            {%  endfor %}
        </div>
    </div>
</section>