{% load i18n %}
<section id="skills" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-sliders"></i>{% trans "Skills" %}</h4>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="skills-card" class="card">
                    <div class="card-content">
                        <div class="row">
                            {% for category, skills in categories.items %}
                                <div class="col-md-{{ columns }} col-sm-{{ columns }} col-xs-12">
                                    <div class="skills-title">
                                        <h6 class="text-center">{{ category.name }}</h6>
                                    </div>
                                    {% for skill in skills %}
                                        <div class="skillbar" data-percent="{{ skill.percent }}%">
                                            <div class="skillbar-title"><span>{{ skill.name }}</span></div>
                                            <div class="skillbar-bar"></div>
                                            <div class="skill-bar-percent">{{ skill.percent }}%</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>