<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-cogs"></i>
    </div>
    <div class="custom-content col s12 m12 l10 wow fadeIn a1">
        <h2>
            Skills
        </h2>
        <div class="row">
            <div class="col m6 s12">
                <div class="skill-line wow fadeIn a1" data-wow-delay="0.1s">
                    <span>Adobe Photoshop</span>
                    <div class="progress">
                        <div class="determinate"> 70%</div>
                    </div>

                    <span>HTML</span>
                    <div class="progress">
                        <div class="determinate"> 95%</div>
                    </div>

                    <span>CSS</span>
                    <div class="progress">
                        <div class="determinate">90%</div>
                    </div>

                    <span>Javascript</span>
                    <div class="progress">
                        <div class="determinate">85%</div>
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="skill-line wow fadeIn a2" data-wow-delay="0.2s">
                    <span>Communication</span>
                    <div class="progress">
                        <div class="determinate"> 70%</div>
                    </div>

                    <span>Team Work</span>
                    <div class="progress">
                        <div class="determinate"> 95%</div>
                    </div>

                    <span>Creativity</span>
                    <div class="progress">
                        <div class="determinate">90%</div>
                    </div>

                    <span>Dedication</span>
                    <div class="progress">
                        <div class="determinate">85%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>