{% load i18n %}
{% load cv_extras %}
<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-cogs"></i>
    </div>
    <div class="custom-content col s12 m12 l10 wow fadeIn a1">
        <h2>{% trans 'Skills' %}</h2>
        <div class="row">
            <div class="col m6 s12">
                <div class="skill-line wow fadeIn a1" data-wow-delay="0.1s">
                    {% for skillItem in first_column %}
                        {% skill item=skillItem %}
                    {% endfor %}
                </div>
            </div>
            <div class="col m6 s12">
                <div class="skill-line wow fadeIn a2" data-wow-delay="0.2s">
                    {% for skillItem in second_column %}
                        {% skill item=skillItem %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>