version: "3.8"

services:
  db:
    image: mongo
    container_name: mongodb
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    container_name: personal-website
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
networks:
  default:
    external:
      name: webproxy