version: "3.8"

services:
  mongodb:
    image: mongo
    container_name: mongodb
  web:
    image: app
    command: python manage.py runserver 0.0.0.0:8000
    container_name: personal-website
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongodb
  migration:
    build: .
    image: app
    command: python manage.py migrate
    volumes:
      - .:/django_mongodb_docker
    links:
      - mongodb
    depends_on:
      - make_migrations
  make_migrations:
    build: .
    image: app
    command: python manage.py makemigrations
    volumes:
      - .:/django_mongodb_docker
    links:
      - mongodb
    depends_on:
      - mongodb
networks:
  default:
    external:
      name: webproxy