{
  "name": "app",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/bootstrap-4.3.1/js/src/index.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"static/bootstrap.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/bootstrap-4.3.1/scss/bootstrap.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"static/bootstrap.css\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/sass/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"root/static/css/styles.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/libs/bootstrap-4.3.1/js/bootstrap.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"root/static/bootstrap.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/js/bootstrap.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"root/static/scripts.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/js/scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"root/static/js/scripts.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/libs/materialize-0.97.5/materialize.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/less/styles.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"root/static/css/styles.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/less/libs.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"root/static/css/libs.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets/bootstrap-4.3.1/dist/css",
      "assets/bootstrap-4.3.1/js/src",
      "assets/libs/bootstrap-4.3.1/js/dist",
      "templates",
      "root/static",
      "assets/js",
      "root/static/js",
      "root/static/css",
      "portfolio",
      "root",
      "assets/sass",
      "assets/libs/materialize-0.97.5",
      "assets",
      "assets/less",
      "attributes"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/js/scripts.js",
      "imports": [
        "assets/libs/jquery-3.3.1/jquery.min.js",
        "assets/libs/materialize-0.97.5/materialize.min.js",
        "assets/libs/wow-1.0.3/wow.min.js",
        "assets/libs/google-maps-3.0.0/google.maps.min.js",
        "assets/libs/masonry-3.3.0/masonry.pkgd.js",
        "assets/libs/masonry-3.3.0/validator.min.js",
        "assets/js/_main.js"
      ]
    },
    {
      "path": "assets/less/styles.less",
      "imports": [
        "assets/libs/materialize-0.97.5/materialize.less",
        "assets/libs/animate.less-3.2.2/animate.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/fontawesome.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/solid.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/brands.less",
        "assets/less/_fonts.less",
        "assets/less/_main.less",
        "assets/less/_responsive.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_variables.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_mixins.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_core.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_larger.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_fixed-width.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_list.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_bordered-pulled.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_animated.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_rotated-flipped.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_stacked.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_icons.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_screen-reader.less"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/less/brands.less",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/less/_variables.less"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/less/fontawesome.less",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/less/_variables.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_mixins.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_core.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_larger.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_fixed-width.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_list.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_bordered-pulled.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_animated.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_rotated-flipped.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_stacked.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_icons.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_screen-reader.less"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/less/light.less",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/less/_variables.less"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/less/regular.less",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/less/_variables.less"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/less/solid.less",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/less/_variables.less"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/less/v4-shims.less",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/less/_variables.less",
        "assets/libs/fontawesome-pro-5.7.2-web/less/_shims.less"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/scss/brands.scss",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_variables.scss"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/scss/fontawesome.scss",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_variables.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_mixins.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_core.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_larger.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_fixed-width.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_list.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_bordered-pulled.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_animated.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_rotated-flipped.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_stacked.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_icons.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/scss/light.scss",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_variables.scss"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/scss/regular.scss",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_variables.scss"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/scss/solid.scss",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_variables.scss"
      ]
    },
    {
      "path": "assets/libs/fontawesome-pro-5.7.2-web/scss/v4-shims.scss",
      "imports": [
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_variables.scss",
        "assets/libs/fontawesome-pro-5.7.2-web/scss/_shims.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}