aadict==0.2.3
asset==0.6.13
astroid==2.2.5
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
colorclass==2.2.0
coverage==4.5.3
dataclasses==0.6
Django==2.2.8
django-appconf==1.0.3
django-avatar==5.0.0
djangorestframework==3.9.4
djongo==1.3.6
docopt==0.6.2
globre==0.1.5
gravatar==0.1
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
mccabe==0.6.1
packaging==19.0
Pillow==7.0.0
pip-upgrader==1.4.12
pylint==2.3.1
pymongo==3.10.1
pyparsing==2.4.0
pytz==2019.1
requests==2.22.0
scss==0.8.73
six==1.15.0
sqlparse==0.2.4
terminaltables==3.1.0
typed-ast==1.3.5
urllib3==1.25.2
wrapt==1.11.1
