{% load gravatar %}
<div class="col s12 m12 l12 comment right" >
    <div class="row">
        <div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">
            <div class="col s12 m12 l2 comment-img">
                <img src="{% gravatar_for_email comment.email %}" alt="gravatar" class="responsive-img">
            </div>
            <div class="col col s12 m12 l10 comment-details">
                <h4> {{ comment.name }} </h4>
                <span>{{ comment.date }}</span>
                <p>{{ comment.content }}</p>
            </div>
        </div>
    </div>
</div>