<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
<div id="loading" style="display: none;">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="box-holder animated bounceInDown">
                <span class="load-box"><span class="box-inner"></span></span>
            </div>
            <div class="text-holder text-center">
                <h2>RADOSŁAW DĄBROWSKI</h2>
                <h6>Projektant &amp; Programista Java</h6>
            </div>
        </div>
    </div>
</div>
<header id="home">
    <nav id="theMenu" class="menu">
        <div id="menu-options" class="menu-wrap">
            <a href="#home"><i class="title-icon fa fa-user"></i>Strona główna</a>
            <a href="#about"><i class="title-icon fa fa-dashboard"></i>O mnie</a>
            <a href="#education"><i class="title-icon fa fa-graduation-cap"></i>Edukacja</a>
            <a href="#skills"><i class="title-icon fa fa-sliders"></i>Umiejętności</a>
            <a href="#experience"><i class="title-icon fa fa-suitcase"></i>Doświadczenie</a>
            <a href="#interest"><i class="title-icon fa fa-heart"></i>Zainteresowania</a>
            <a href="#contact"><i class="title-icon fa fa-envelope"></i>Kontakt</a>
        </div>
        <div id="menuToggle">
            <div class="toggle-normal">
                <i class="material-icons top-bar">remove</i>
                <i class="material-icons middle-bar">remove</i>
                <i class="material-icons bottom-bar">remove</i>
            </div>
        </div>
    </nav>
    <div class="header-background section">
        <div id="v-card-holder" data-sr-id="24"
             style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="v-card" class="card">
                            <div id="profile" class="right">
                                <img alt="profile-image" class="img-responsive" src="images/profile.png">
                                <div class="slant"></div>
                            </div>
                            <div class="card-content">
                                <div class="info-headings">
                                    <h4 class="text-uppercase left">Radosław Dąbrowski</h4>
                                    <h6 class="text-capitalize left">Projektant &amp; Programista Java</h6>
                                </div>
                                <div class="infos">
                                    <ul class="profile-list">
                                        <li class="clearfix">
                                            <span class="title"><i class="material-icons">email</i></span>
                                            <span class="content">kontakt@radoslawdabrowski.pl</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title"><i class="material-icons">language</i></span>
                                            <span class="content">radoslawdabrowski.pl</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title"><i class="material-icons">phone</i></span>
                                            <span class="content">+48 508 630 984</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="links">
                                    <a href="https://www.linkedin.com/in/dabrowskiradoslaw" target="_blank"
                                       class="social  btn-floating blue darken-3">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/radoslawdabrowski" target="_blank"
                                       class="social  btn-floating grey darken-3">
                                        <i class="fa fa-github"></i>
                                    </a>
                                    <a href="https://stackoverflow.com/users/4693532/humblehunter" target="_blank"
                                       class="social btn-floating orange darken-2">
                                        <i class="fa fa-stack-overflow"></i>
                                    </a>
                                    <a href="https://codeboards.io/profiles/93526" target="_blank"
                                       class="social btn-floating red darken-2">
                                        <i class="fa fa-codiepie"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="about-card" class="card" data-sr-id="21"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-box-shadow 0.25s ease 0s, -webkit-transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: box-shadow 0.25s ease 0s, -webkit-box-shadow 0.25s ease 0s, transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; ">
                    <div class="card-content">
                        <p>
                            Cześć! Jestem projektantem i programistą aplikacji webowych z ponad 4 letnim doświadczniem.
                            Specjalizuje się
                            w programowaniu logiki biznesowej aplikacji oraz projektowaniu baz danych ale posiadam
                            również wiedzę z zakresu
                            lekkich framework'ów front-end'owych takich jak Angular, jQuery, HTML5, CSS3, SASS.
                        </p>
                    </div>
                    <div id="about-btn" class="card-action">
                        <div class="about-btn">
                            <a href="cv/resume.pdf" target="_blank" class="btn waves-effect">Pobierz CV</a>
                            <a href="#contact" class="btn waves-effect">Kontakt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="education" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-graduation-cap"></i>Edukacja</h4>
        </div>
        <div id="timeline-education">
            <div class="timeline-block">
                <div class="timeline-dot" data-sr-id="1"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    <h6>L</h6></div>
                <div class="card timeline-content" data-sr-id="2"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <div class="card-content">
                        <h6 class="timeline-title">Szkoła średnia</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>III Liceum ogólnokształcące z oddzialami dwujęzycznymi w Zabrzu</small>
                            </h6>
                            <h6>
                                <small>Wrz 2009 - Cze 2012</small>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-dot" data-sr-id="3"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <h6>U</h6></div>
                <div class="card timeline-content" data-sr-id="4"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <div class="card-content">
                        <h6 class="timeline-title">Szkoła wyższa</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>Uniwersytet Śląski w Katowicach</small>
                            </h6>
                            <h6>
                                <small>Jan 2012 - Obecnie</small>
                            </h6>
                        </div>
                        <p>
                            Studia inżynierskie. Temat pracy dyplomowej: Aplikacja wspomagająca pracę działu kadr i płac
                            w firmie.
                            <a href="https://workbook.ovh" target="_blank">workbook.ovh</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-sliders"></i>Umiejętności</h4>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="skills-card" class="card" data-sr-id="5"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="skills-title">
                                    <h6 class="text-center">Profesjonalne</h6>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Java</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 90%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="25"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Spring-Boot</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 90%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="26"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Hibernate</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 90%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="27"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-title"><span>PostgreSQL</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 70%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="28"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>Angular</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 50%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="29"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>
                                <div class="skillbar" data-percent="75%">
                                    <div class="skillbar-title"><span>jQuery</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 75%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="30"></div>
                                    <div class="skill-bar-percent">75%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>PHP</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 80%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="31"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="75%">
                                    <div class="skillbar-title"><span>HTML5</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 75%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="32"></div>
                                    <div class="skill-bar-percent">75%</div>
                                </div>
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>SASS</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 60%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="33"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="skills-title">
                                    <h6 class="text-center">Personalne</h6>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>Komunikacja</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 80%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="34"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>Praca w zespole</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 60%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="35"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-title"><span>Kreatywność</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 70%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="36"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-title"><span>Poświęcenie</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 70%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="37"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>SCRUM</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 50%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="38"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="skills-title">
                                    <h6 class="text-center">Oprogramowanie</h6>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>InteliJ IDEA</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 80%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="39"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-title"><span>Maven</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 70%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="40"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>Tomcat/JBoss/Weblogic</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 60%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="41"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-title"><span>Apache</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 70%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="42"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>Node.js</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 50%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="43"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>Terminal</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 80%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="44"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Windows OS</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 90%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="45"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>Linux/Mac OS</span></div>
                                    <div class="skillbar-bar"
                                         style="width: 60%;; visibility: visible;  -webkit-transform: scale(0.9); opacity: 0;transform: scale(0.9); opacity: 0;"
                                         data-sr-id="46"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-suitcase"></i>Doświadczenie</h4>
        </div>
        <div id="timeline-experience">
            <div class="timeline-block">
                <div class="timeline-dot" data-sr-id="6"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <h6>M</h6></div>
                <div class="card timeline-content" data-sr-id="7"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <div class="card-content">
                        <h6 class="timeline-title">Młodszy specjalista ds. programowania</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>Centralny Ośrodek Informatyzacji Górnictwa S.A.</small>
                            </h6>
                            <h6>
                                <small>cze 2014 - Sty 2015</small>
                            </h6>
                        </div>
                        <p>
                            Rozpoczłem moją karierę tutaj jako jedna z osób odpowiedzialnych za przeprojektowanie
                            istniejącego
                            systemu ERP do technologii Java ADF.
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-dot" data-sr-id="8"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <h6>P</h6></div>
                <div class="card timeline-content" data-sr-id="9"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <div class="card-content">
                        <h6 class="timeline-title">Programista</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>Centralny Ośrodek Informatyzacji Górnictwa S.A.</small>
                            </h6>
                            <h6>
                                <small>Sty 2015 - Lis 2016</small>
                            </h6>
                        </div>
                        <p>
                            Praca nad systemami ERP Ksat 2000i oraz Ksat 3, wykorzystując znajomość Oracle SQL, PL/SQL,
                            Java ADF. Budowa i utrzymanie portali eUsług - eUrząd oraz PLIP w technologiach PHP, MySQL,
                            Java
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-dot" data-sr-id="10"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <h6>P</h6></div>
                <div class="card timeline-content" data-sr-id="11"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <div class="card-content">
                        <h6 class="timeline-title">Projektant &amp; Programista Java</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>COIG S.A.</small>
                            </h6>
                            <h6>
                                <small>Lis 2016 - Obecnie</small>
                            </h6>
                        </div>
                        <p>
                            Projekt oraz implementacja bazy danych oraz webserwisu dla aplikacji Venroll - stosowane
                            technologie: Spring Boot, Hibernate, PostgreSQL
                            Zdobycie wiedzy z zakresu uczenia maszynowego opartego na h2o.ai
                            Praca nad systemem ERP - implementacja rozwiązań systemu GIS.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="interest" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-heart"></i>Zainteresowania</h4>
        </div>
        <div id="interest-card" class="card" data-sr-id="12"
             style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
            <div class="card-content">
                <p>
                    Motoryzacja jest dla mnie ważnym elementem życia. O sportach motorowych mogę rozmawiać całymi
                    dniami,
                    idealny weekend? Weekend wyścigowy. Poza tym lubię wycieczki górskie, które pozwalają mi się odciąć
                    od codzienności raz na jakiś czas.
                </p>
            </div>
            <div class="row no-gutters">
                <div class="col-md-2 col-sm-4 col-xs-6  box text-center">
                    <div class="interest-icon" data-sr-id="13"
                         style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                        <i class="fa fa-music"></i>
                        <span>Muzyka</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even" data-sr-id="14"
                         style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                        <i class="fa fa-gamepad"></i>
                        <span>Gry</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon" data-sr-id="15"
                         style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                        <i class="fa fa-car"></i>
                        <span>Motoryzacja</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even" data-sr-id="16"
                         style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                        <i class="fa fa-futbol-o"></i>
                        <span>Piłka nożna</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon" data-sr-id="17"
                         style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                        <i class="fa fa-sun-o"></i>
                        <span>Wycieczki górskie</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even" data-sr-id="18"
                         style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                        <i class="fa fa-film"></i>
                        <span>Kino</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-envelope"></i>Kontakt</h4>
        </div>
        <div class="row">
            <div id="contact-card" class="col-md-5 col-sm-12 col-xs-12" data-sr-id="19"
                 style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                <div class="card">
                    <div class="card-content">
                        <form id="contact-form" name="c-form">
                            <div class="input-field">
                                <input id="first_name" type="text" class="validate" name="first_name" required="">
                                <label for="first_name">Imię i nazwisko</label>
                            </div>
                            <div class="input-field">
                                <input id="sub" type="text" class="validate" name="sub">
                                <label for="sub">Temat</label>
                            </div>
                            <div class="input-field">
                                <input id="email" type="email" class="validate" name="email" required="">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <textarea id="textarea1" class="materialize-textarea" name="message"
                                          required=""></textarea>
                                <label for="textarea1">Wiadomośc</label>
                            </div>
                            <div class="contact-send">
                                <button id="submit" name="contactSubmit" type="submit" value="Submit"
                                        class="btn waves-effect">
                                    Wyślij
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="form-loader" class="progress is-hidden">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div id="map-card" class="card" data-sr-id="20"
                     style="; visibility: visible;  -webkit-transform: translateY(20px) scale(0.9); opacity: 0;transform: translateY(20px) scale(0.9); opacity: 0;">
                    <div id="myMap" style="position: relative; overflow: hidden;">
                        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                            <div class="gm-err-container">
                                <div class="gm-err-content">
                                    <div class="gm-err-icon"><img
                                            src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png"
                                            draggable="false" style="user-select: none;"></div>
                                    <div class="gm-err-title">Ups... Coś poszło nie tak.</div>
                                    <div class="gm-err-message">Ta strona nie wczytała Map Google prawidłowo. Szczegóły
                                        techniczne znajdziesz w konsoli JavaScript.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="scroll-top">
    <div id="scrollup"><i class="fa fa-angle-up"></i></div>
</div>

<footer>
    <div class="container">
        <p class="text-center">
            © Wszelkie prawa zastrzeżone
            <a href="https://radoslawdabrowski.pl">
                <strong>radoslawdabrowski.pl</strong>
            </a>
        </p>
    </div>
</footer>

<script src="{% static 'scripts.js' %}"></script>
</body>
</html>