{% load static from staticfiles %}
{% load root_extras %}
{% get_title as title %}
{% get_description as description %}
{% get_keywords as keywords %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="Description" content="{{ description }}">
    <meta name="Keywords" content="{{ keywords }}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <!--
        =========================================
                       SIDEBAR
        ==========================================
        -->
        {% sidebar %}

        <!--
        =========================================
                       CONTENT
        ==========================================
        -->
        <section class="col s12 m12 l8 section">
            <div class="row">
                {% block content %}{{ work_in_progress }}{% endblock %}

                <!--
                =========================================
                               FOOTER
                ==========================================
                -->
                {% footer %}
            </div>
        </section>
    </div>
</div>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>