{% load root_extras %}
<div class="header-background section">
    <div id="v-card-holder">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="v-card" class="card">
                        <div id="profile" class="right">
                            <img alt="profile-image" class="img-responsive" src="../static/images/profile-image.png">
                            <div class="slant"></div>
                        </div>
                        <div class="card-content">
                            <div class="info-headings">
                                {% get_name as name %}
                                <h4 class="text-uppercase left">{{ name }}</h4>
                                {% get_position as position %}
                                <h6 class="text-capitalize left">{{ position }}</h6>
                            </div>
                            <div class="infos">
                                <ul class="profile-list">
                                    <li class="clearfix">
                                        <span class="title"><i class="material-icons">email</i></span>
                                        {% get_email as email %}
                                        <span class="content">{{ email }}</span>
                                    </li>
                                    <li class="clearfix">
                                        <span class="title"><i class="material-icons">language</i></span>
                                        {% get_website as webiste %}
                                        <span class="content">{{ webiste }}</span>
                                    </li>
                                    <li class="clearfix">
                                        <span class="title"><i class="material-icons">phone</i></span>
                                        {% get_phone as phone %}
                                        <span class="content">{{ phone }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="links">
                                {% get_social as socialList %}
                                {% for social in socialList %}
                                    <a href="{{ social.url }}" target="_blank" class="social btn-floating {{ social.color }}">
                                        <i class="fab {{ social.icon }}"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>