{% load root_extras %}
{% load i18n %}
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="box-holder animated bounceInDown">
                <span class="load-box"><span class="box-inner"></span></span>
            </div>
            <div class="text-holder text-center">
                {% get_name as name %}
                <h2>{{ name }}</h2>
                {% get_position as position %}
                <h6>{{ position }}</h6>
            </div>
        </div>
    </div>
</div>