{% load root_extras %}
<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
    <div class="row">
        <div class="heading">
            {% header %}
        </div>
        <div class="col l12 m12 s12 links sidebar-item">
            {% social %}
        </div>
        <div class="col l12 m12 s12 sort-info sidebar-item">
            {% description %}
        </div>
        <div class="col l12 m12 s12 mobile sidebar-item">
            {% mobile %}
        </div>
        <div class="col l12 m12 s12 email sidebar-item ">
            {% email %}
        </div>
    </div>
</aside>