{% load static from staticfiles %}
{% load i18n %}
<nav id="theMenu" class="menu">
    <div id="menu-options" class="menu-wrap">
        <a href="#home"><i class="title-icon fa fa-user"></i>{% trans 'Homepage' %}</a>
        <a href="#about"><i class="title-icon fa fa-address-card"></i>{% trans 'About' %}</a>
        <a href="#education"><i class="title-icon fa fa-graduation-cap"></i>{% trans 'Education' %}</a>
        <a href="#skills"><i class="title-icon fa fa-sliders-v"></i>{% trans 'Skills' %}</a>
        <a href="#experience"><i class="title-icon fa fa-suitcase"></i>{% trans 'Experience' %}</a>
        <a href="#interest"><i class="title-icon fa fa-heart"></i>{% trans 'Interest' %}</a>
        <hr class="no-gutters-vertical">
        <a href="/blog"><i class="title-icon fa fa-blog"></i>{% trans 'Blog' %}</a>
        <a href="/portfolio"><i class="title-icon fa fa-browser"></i>{% trans 'Portfolio' %}</a>
        <hr class="no-gutters-vertical">
        <a href="#contact"><i class="title-icon fa fa-envelope"></i>{% trans 'Contact' %}</a>
    </div>
    <div id="menuToggle">
        <div class="toggle-normal">
            <i class="material-icons top-bar">remove</i>
            <i class="material-icons middle-bar">remove</i>
            <i class="material-icons bottom-bar">remove</i>
        </div>
    </div>
</nav>