{% load i18n %}
<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-paper-plane"></i>
    </div>
    <div class="col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
        <h2>{% trans 'Contact' %}</h2>
        <div class="contact-form" id="contact">
            <div class="row">
                <form role="form" id="contactForm" data-toggle="validator">
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="input-field col s12">
                        <label for="name" class="h4">{% trans 'Name' %} *</label>
                        <input type="text" class="form-control validate" id="name" required data-error="{% trans 'Error message' %}" maxlength="50">
                    </div>
                    <div class="input-field col s12">
                        <label for="email" class="h4">{% trans 'Email' %} *</label>
                        <input type="email" class="form-control validate" id="email" required maxlength="100">
                    </div>
                    <div class="input-field col s12">
                        <label for="message" class="h4">{% trans 'Message' %} *</label>
                        <textarea id="message" class="form-control materialize-textarea validate message-box" rows="4" required></textarea>
                    </div>
                    <button type="submit" id="form-submit" class="btn btn-success">{% trans 'Submit' %}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>