<!-- ===== Description ===== -->
<div class="row">
    <div class="col m12 s12 l3 icon">
        <i class="fa fa-user"></i>
    </div>
    <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s">
        <div class="section-item-details">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua . Ld do eiusmod tempor incididunt ut labore et dolore magna
                aliqua</p>
        </div>
    </div>
</div>