<!-- ===== Email ===== -->
<div class="row">
    <div class="col m12 s12 l3 icon">
        <i class="fa fa-envelope"></i>
    </div>
    <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
        <div class="section-item-details">
            <div class="personal">
                <h4><a href="mailto:someone@example.com">mail@alrayhan.com</a></h4>
                <span>personal</span>
            </div>
            <div class="work">
                <h4><a href="mailto:someone@example.com">ar@deviserweb.com</a></h4>
                <span>work</span> <br>
            </div>
        </div>
    </div>
</div>