{% load i18n %}
{% load root_extras %}
<!-- ===== Email ===== -->
<div class="row">
    <div class="col m12 s12 l3 icon">
        <i class="fa fa-envelope"></i>
    </div>
    <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
        <div class="section-item-details">
            <div class="personal">
                <h4><a href="mailto:{% get_email %}">{% get_email %}</a></h4>
                <span>{% trans "work" %}</span>
            </div>
        </div>
    </div>
</div>