<div class="col s12 m12 l12 pagination">
    <ul class="pagination center-align">
        <li class="waves-effect {% if items.paginator.num_pages == current_page %}disabled{% endif %}">
            <a href="?page=1" {% if items.paginator.num_pages == current_page %}disabled{% endif %}>
                <i class="far fa-chevron-double-left"></i>
            </a>
        </li>
        {% if items.has_previous %}
            <li class="waves-effect">
                <a href="?page={{ items.previous_page_number }}">
                    <i class="far fa-chevron-left"></i>
                </a>
            </li>
        {% endif %}
        {% for number in items.paginator.page_range %}
            <li class="waves-effect {% if items.paginator.num_pages == current_page %}disabled{% endif %}">
                <a href="?page={{ number }}"
                   {% if items.paginator.num_pages == current_page %}disabled{% endif %}>
                    {{ number }}
                </a>
            </li>
        {% endfor %}
        {% if items.has_next %}
            <li class="waves-effect">
                <a href="?page={{ items.next_page_number }}">
                    <i class="far fa-chevron-right"></i>
                </a>
            </li>
        {% endif %}
        <li class="waves-effect {% if items.paginator.num_pages == current_page %}disabled{% endif %}">
            <a href="?page={{ items.paginator.num_pages }}"
               {% if items.paginator.num_pages == current_page %}disabled{% endif %}>
                <i class="far fa-chevron-double-right"></i>
            </a>
        </li>
    </ul>
</div>