{% extends "index.html" %}

{% load cv_extras %}

{% block content %}
    <!--
    =========================================
                Work experiences
    ==========================================
    -->
    {% experience %}

    <!--
    ========================================
                    Education
    ==========================================
    -->
    {% education %}

    <!--
    ========================================
                    Intertests
    ==========================================
    -->
    {% intertests %}
{% endblock %}