{% extends "index.html" %}

{% load cv_extras %}

{% block content %}
    <!--
    ==========================================
                      ABOUT
    ==========================================
    -->
    {% about %}

    <!--
    ===========================================
                    EXPERIENCE
    ===========================================
    -->
    {% experience %}

    <!--
    ===========================================
                      SKILLS
    ===========================================
    -->
    {% skills %}

    <!--
    ===========================================
                    EDUCATION
    ===========================================
    -->
    {% education %}

    <!--
    ===========================================
                    INTERESTS
    ===========================================
    -->
    {% interests %}


{% endblock %}